//font    
$main-font: Yu Gothic, sans-serif;
$opensans: "Open Sans",sans-serif;
$sou: "SoukouMincho",sans-serif;
$hira: "Hiragino Mincho Pro",sans-serif;

//color common
$black: #222;
$yellow: #fcd000;
$white: #fff;
$red: #82141a;
$button: #000;
