/* layout
------------------------------------------------------------*/
body {
    font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 1.4rem;
    min-width: 320px;
    line-height: 1.5;
}

//-------------------------------------------------------
.l-container {
    width: 100%;
    margin: 0 auto;

    &--w1003px {
        max-width: 1033px;
        padding: 0 15px;
    }

    &--w1110 {
        max-width: 1110px;
    }

    &--w1010 {
        max-width: 1010px;
    }

    &--w984 {
        max-width: 984px;
    }
}
//-------------------------------------------------------
