<section class="c-company">
    <div class="c-company__left"></div>
    <div class="c-company__right">
        <a href="#" class="c-company__box">会社情報</a>
        <h2 class="c-company__title">昨日よりも今日、今日よりも明日</h2>
        <p class="c-company__desc">さくらタクシーグループは創業より、お客様に最高の移動空間をお届けしてまいりました。2016年3月、東京の日本交通のグループ企業となり、気持ち新たに日々変化する社会の中で常に最高を追い求めます。</p>
        <a href="#" class="c-company__btn">会社情報を見る</a>
    </div>
</section>