<section class="c-contact">
    <div class="c-contact__content">
        <div class="c-contact__inner l-container l-container--w1110">
            <h2 class="c-contact__title">タクシー<span class="u-dot">・</span>ハイヤーのお問い合わせ</h2>
        <div class="c-contact__main">
            <div class="c-contact__label c-contact__left">
                <p class="c-contact__txt">タクシー配車（配車専用ダイヤル）</p>
                <p class="c-contact__tel">
                    <span class="c-contact__text">TEL.</span>
                    <span class="c-contact__number">06-6452-0055</span>
                </p>
            </div>
            <div class="c-contact__label c-contact__center">
                <p class="c-contact__txt">ハイヤーのお問い合わせ</p>
                <p class="c-contact__tel">
                    <span class="c-contact__text">TEL.</span>
                    <span class="c-contact__number">06-6458-7088</span>
                </p>
            </div>
            <a href="#" class="c-contact__label c-contact__right">
                <span class="c-contact__txt">メールで問い合わせる</span>
            </a>
        </div>
        </div>
    </div>
</section>