<section class="c-recruit">
    <div class="l-container l-container--w1110">
        <div class="c-recruit__main">
            <div class="c-recruit__textbox">
                <a href="#" class="c-recruit__btn">採用情報 Recruit</a>
                <h2 class="c-recruit__title">新しい未来に向かって挑戦</h2>
                <p class="c-recruit__desc">新たなステージに向かって挑戦、<br>
                    First Classなサービス作りに、加わりませんか。</p>
            </div>
            <div class="c-recruit__img"></div>
        </div>
    </div>
</section>